@use "./common" as *;

.contact {
  margin-bottom: 55px;

  @media (min-width: 768px) {
    margin-bottom: 112px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      gap: 36px;
    }

    @media (min-width: 992px) {
      gap: 109px;
    }
  }

  &__title {
    margin-bottom: 38px;
    color: $absolute-black;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    text-align: center;

    @media (min-width: 575px) {
      font-size: 30px;
    }

    @media (min-width: 768px) {
      text-align: unset;
    }

    @media (min-width: 992px) {
      font-size: 36px;
    }

    @media (min-width: 1600px) {
      font-size: 48px;
    }

    &_mobile {
      @media (min-width: 768px) {
        display: none;
      }
    }

    &_desktop {
      @media (min-width: 768px) {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        border: none;
        overflow: visible;
        clip: auto;
        clip-path: none;
        white-space: normal;
      }
    }
  }

  &__img {
    width: 253px;
    height: 228px;
    margin-bottom: 38px;

    @media (min-width: 575px) {
      width: 358px;
      height: 322px;
    }

    @media (min-width: 768px) {
      width: 230px;
      height: 210px;
      margin-bottom: 0;
    }

    @media (min-width: 992px) {
      width: 312px;
      height: 281px;
    }

    @media (min-width: 1600px) {
      width: 477px;
      height: 429px;
    }
  }

  &__text {
    margin-bottom: 31px;

    color: $grey-300;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    @media (min-width: 575px) {
      font-size: 16px;
    }

    @media (min-width: 768px) {
      width: 446px;
      text-align: unset;
    }

    @media (min-width: 1600px) {
      font-size: 20px;
      width: 776px;
    }
  }

  &__input {
    flex-grow: 1;
    height: 100%;
    padding: {
      top: 16px;
      right: 119px;
      bottom: 16px;
    }
    padding-left: 27px;
    margin-bottom: 17px;
    border: 1px solid $grey-300;
    border-radius: 5px;
    flex-shrink: 0;
    color: $absolute-black;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;

    ::placeholder {
      color: $grey-300;
    }

    @media (min-width: 575px) and (max-width: 767px) {
      height: 100%;
      margin-bottom: 0;
      border: none;
      flex-grow: 1;
    }

    @media (min-width: 768px) {

      height: 50px;
      padding: {
        top: 0px;
        right: 135px;
        bottom: 0px;
      }
      margin-bottom: 0;
    }

    @media (min-width: 992px) {

      height: 60px;
      border-radius: 10px;
    }

    @media (min-width: 1600px) {

      height: 80px;
      font-size: 16px;
    }
  }

  &__subscribe {
    padding: 20px 111px;
    border-radius: 5px;
    border: solid $blue-900 1px;
    background: $blue-900;

    color: $absolute-white;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;

    @media (min-width: 575px) {
      padding: 21px 56px;
      font-size: 16px;
      border-radius: 10px;
    }

    @media (min-width: 768px) {
      position: unset;
      padding: 13px 40px;
      border-radius: 5px;
    }

    @media (min-width: 992px) {
      border-radius: 10px;
      padding: 18px 56px;
    }

    @media (min-width: 1600px) {
      font-size: 20px;
      padding: 23px 81px;
    }
  }

  &__subcontainer {
    @media (min-width: 575px) {
      display: flex;
      // align-items: center;
    }

    @media (min-width: 575px) and (max-width: 767px) {
      border: 1px solid $grey-300;
      border-radius: 10px;
      align-items: center;
    }

    @media (min-width: 768px) {
      position: unset;
      gap: 6px;
    }
  }
}
